<%= form_for(@student) do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :netid %><br />
    <%= f.text_field :netid %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :sections %><br />
    <%= f.text_field :sections %>
  </div>
  <div class="field">
    <%= f.label :exceptions %><br />
    <%= f.text_field :exceptions %>
  </div>
  <div class="field">
    <%= f.label :desires %><br />
    <%= f.text_field :desires %>
  </div>
  <div class="field">
    <%= f.label :trades %><br />
    <%= f.text_field :trades %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
