<h1>Create student</h2>
<%= form_for @student do |f| %>
	<%= f.label :name, 'Name' %>
	<%= f.text_field :name %>
	<%
	  options = Array.new(size(@Sections))
	  @Sections.each do |section|
	    options[section.id] = "#{section.teacher}: " + section.times.join(" + ")
	  end
	  # ...but project can have multiple classes - so need to classify by class
	%>
	<%= select_tag(:sections, options_for_select(options)  %>
	<%= f.submit %>
<% end %>  
<p>Click the submit button to create new student.</p>