<p id="notice"><%= notice %></p>

<p>
  <b>Students:</b>
  <%= @trade.students %>
</p>

<p>
  <b>Sections:</b>
  <%= @trade.sections %>
</p>

<p>
  <b>Course:</b>
  <%= @trade.Course %>
</p>

<p>
  <b>Project:</b>
  <%= @trade.Project %>
</p>

<p>
  <b>Status:</b>
  <%= @trade.status %>
</p>


<%= link_to 'Edit', edit_trade_path(@trade) %> |
<%= link_to 'Back', trades_path %>
